label {
    display: flex;
    flex-direction: column;
}

input {
    width: 400px;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.box {
    font-size: 25px;
    font-weight: 600;
    color: green;
    padding: 30px;
}